.Discover{
    max-width: 80%;
    margin: 20px auto;
    position: relative;
    padding: 20px 0;
    height: auto;
    text-align: center;
}

.DiscoverElement{
    margin: 20px auto 40px auto;
    padding: 10px 5px;
}