.Layout{
    background-color: #f6dcfc;
    width: 100%;
    min-height: 100vh;
    height: auto;
}

.Layout header{
    padding: 0px 30px;
}

.Layout main{
    margin: auto;
    position: relative;
    text-align: center;
}

@media (max-width:540px) {
    .Layout main{
        margin: 20% auto;
    }
}