.Layout{
    background-color: #f6dcfc;
    width: 100%;
    height: 20%;
}

.Layout header{
    padding: 0px 30px;
}

.Layout main{
    margin: auto;
    position: relative;
    text-align: center;
}